body {

    background-color: #131314;
    box-sizing: border-box;
    margin:0;
    font-family: 'Teko', sans-serif;
    display: grid;

}

header {

    background-color: #02684C;
    width: auto;
    padding: .5em 0 .5em .5em;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}

footer {

    background-color: #000000;
    padding: .5em 0 .5em .5em;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #02684C;

    box-sizing: border-box;

}


.statActionsDIV {
    background-color: white;
    width: 100%;
    display: flex;
    
}

.searchByPlayer {
   
}

.searchByTeam {

}

.searchByPlayer, .searchByTeam {
    flex: 1;
    padding: 1em;
    border-right: .2em solid wheat;
    border-left: .2em solid wheat;
    text-align: center;
}

.dropdown {
    display:inline-block;
}

#searchByTeamBTN, #searchByPlayerBTN {

    font-family: 'Teko', sans-serif;
    font-size: larger;
    margin: .2em .2em .2em 1em;
    width:30%;

}

label {
    font-size: 2em;
}

select {
    padding: .5em;
}

#table {

    box-sizing: border-box;
    /* margin:0; */
    display: table;  
    height: 65vh;
    align-content: center;

}